body {
	width: 100%;
	height: 100%;
	min-width: 660px;
	min-height: 660px;
	position: relative;
	background: url(../../images/admin/login-bg.jpg) center center no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}
.stars {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.6;
	background-image: url(../../images/admin/stars.png);
	background-repeat: no-repeat;
	background-size: contain;
	z-index: -1;
}
.logo {
	text-align: center;
}
.logo img {
	width: 250px;
}
h1 {
	font-size: 26px;
	color: #fff;
	text-align: center;
	line-height: 1.5;
	margin-bottom: 10px;
	letter-spacing: 2px;
}
.login-box {
	width: 360px;
	min-height: 290px;
	padding: 50px 30px;
	box-sizing: border-box;
	background: rgba(255,255,255,0.7);
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(82,113,215,0.4);
	position: relative;
}
.login-box h2 {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
}
.login-box input, .login-box label {
	display: block;
	line-height: 40px;
	margin-bottom: 10px;
}
.login-box label {
	font-size: 16px;
	font-weight: bold;
}
.login-box input {
	width: 100%;
	padding: 0 10px;
}
.login-box .btn {
	display: block;
	font-size: 16px;
	width: 100px;
	height: 40px;
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
}