h1, h2, h3, h4, h5, h6, p, figure, form, blockquote, ul, ol, li, dl, dd, label, button, input {
  font-family: Arial, 'microsoft Yahei';
  color: #333;
}
body {
	background: #f5f5f5;
	min-width: 1280px;
}
.blue {
	color: #1495ff;
}
.bd-blue {
	border: 1px solid #68bafe;
	border-radius: 5px;
}
.border-gray {
	border: 1px solid #d1d1d1;
}
.border-bottom-gray {
	border-bottom: 1px solid #d1d1d1;
}
.bg-light-gray {
	background-color: #ececec;
}
.btn {
	border: 1px solid #68bafe;
	border-radius: 5px;
	background-color: #f1f1f1;
	color: #1495ff; 
	transition: all 0.5s;
}
.btn:hover {
	color: #fff;
	background-color: #1495ff;
}
input[type="text"] {
	background-color: #f1f1f1;
	border: 1px solid #68bafe;
	border-radius: 5px;
}
input[type="password"] {
	background-color: #f1f1f1;
	border: 1px solid #68bafe;
	border-radius: 5px;
}
select {
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	padding: 0 30px 0 10px;
	background: url("../image/arrow.png") no-repeat scroll right center #ececec;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
	height: 26px;
	font-size: 12px;
}
select::-ms-expand { display: none; }

/* topbar */
header {
	width: 100%;
	height: 60px;
	background: url(../image/topbar-bg.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
header h1 {
	width: 280px;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 26px;
}
header select {
	position: absolute;
	width: 160px;
	top: 18px;
	right: 30px;
}

/* main */
.main {
	display: flex;
	flex-direction: row;
}

/* aside */
aside { 
	width: 280px;
	min-height: calc(100vh - 60px);
	background: #454545 url(../image/stars.png) no-repeat left bottom;
	background-size: auto 100%;
}
aside ul li {
	height: 60px;
	line-height: 60px;

}
aside ul li a {
	color: #fff;
	display: block;
	font-weight: bold;
	font-size: 16px;
	padding-left: 50px;
	letter-spacing: 1px;

}
aside ul li a.focus {
	background: #1495ff;
}
aside ul li a i {
	font-size: 24px;
	margin-right: 20px;
	vertical-align: -4px;
}

/* content */
.main .content {
	width: calc(100% - 280px);
	padding: 0 30px 30px;
}
.main .content h2 {
	height: 60px;
	line-height: 60px;
	font-size: 14px;
	font-weight: bold;
}



/* popup */
.popup {
	display: none;
	z-index: 99;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.popup-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.4);
}

.popup-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 20px;
	background: #dbe5e7;
	border: 1px solid #d1d1d1;
	border-radius: 10px;
}
.popup-inner button {
	height: 25px;
	width: 70px;
	font-size: 12px;
}
.popup button {
	margin-left: 10px;
	float: right;
}
.delete-alert .popup-inner {
	width: 350px;
}

.delete-alert p {
	margin: 30px;
	font-weight: bold;
}

.error-msg {
	/*display: none;*/
	height: 20px;
	color: #f00;
	font-size: 13px;
}

.error-msg li {
	/*display: none;*/
	height: 20px;
	color: #f00;
	font-size: 13px;
}