
@{
    ViewBag.Title = "结算";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

@*<link rel="stylesheet" href="~/Content/orderlist.css">*@
<div class="maincontainer checkout">
    <div class="container" style="max-width:768px;margin:0 auto;">
        <div class="row">

            <div class="list-group mb10">
                <div class="list-group-item tip address">
                    <a href="addresslist.html">
                        <p>收货人：测试<span>13412312312</span></p>
                        <p>收货地址：上海市 某某区 某某路 1000号 101室</p>
                    </a>
                </div>
                <ul class="product-list">
                    <li>
                        <a href="views.html">
                            <img src="~img/product01.jpg">
                            <p>小眼带鱼</p>
                            <div class=""><span class="p-price">￥13.50</span><span>x2</span></div>
                        </a>
                    </li>
                    <li>
                        <a href="views.html">
                            <img src="~img/product02.jpg">
                            <p>方头鱼</p>
                            <div class=""><span class="p-price">￥24.50</span><span>x1</span></div>
                        </a>
                    </li>
                    <li>
                        <a href="views.html">
                            <img src="~img/product03.jpg">
                            <p>东海小眼带鱼</p>
                            <div class=""><span class="p-price">￥31.50</span><span>x1</span></div>
                        </a>
                    </li>
                    <li>
                        <a href="views.html">
                            <img src="~img/product04.jpg">
                            <p>方头鱼</p>
                            <div><span class="p-price">￥21.50</span><span>x1</span></div>
                        </a>
                    </li>
                </ul>
                <div class="order-list-info">
                    <p>共<span class="red">5</span>件商品 合计：<span class="red">￥120.00</span><br>运费：<span class="red">￥12.00</span></p>
                </div>
            </div>


        </div>
    </div>
</div>
<footer class="footer checkout">
    <div class="foot-con">
        <div class="foot-con_2">
            <p>共<span class="red">5</span>件商品 合计<span class="red">￥132.00</span></p>
            <div class="buy-btn-fix"><button type="button" class="btn btn-danger btn-buy">结算</button></div>
        </div>
    </div>
</footer>

