
@{
    ViewBag.Title = "管理收货地址";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<div class="container" style="max-width:768px;margin:0 auto;">
    <div class="row">

        <ul class="address-list">
            <li>
                <p class="address-info">阿三<span>1311131111</span></p>
                <p>上海市某某区某某路1000号101室上海市某某区某某路1000号101室</p>
                <div class="address-panel default-address">
                    <input type="radio" name="default" id="default1" checked=""><label for="default1">默认地址</label>
                    <span onclick="deleteAddress(this)">删除</span>
                    <span onclick="location.href='addressedit.html'">编辑</span>
                </div>
            </li>
            <li>
                <p class="address-info">阿四<span>1311131112</span></p>
                <p>上海市某某区某某路1000号102室上海市某某区某某路1000号101室</p>
                <div class="address-panel">
                    <input type="radio" name="default" id="default2"><label for="default2">设为默认</label>
                    <span onclick="deleteAddress(this)">删除</span>
                    <span onclick="location.href='addressedit.html'">编辑</span>
                </div>
            </li>

        </ul>
    </div>
</div>
<footer class="footer">
    <div class="foot-con">
        <div class="foot-con_2">
            @Html.ActionLink("添加新地址", "Addressnew", "User", new { fromURL = ViewBag.fromURL }, new { target = "_self", name = "link", @class = "add-address" })
        </div>
    </div>
</footer>
<script>
    $(".address-list").find($("input[type='radio']")).click(function () {
        $(".address-list").find($("input[type='radio']")).parent(".address-panel").removeClass("default-address");
        $(this).parent(".address-panel").addClass("default-address");
    })
    function deleteAddress(obj) {
        if (confirm("确认删除这个地址？")) {
            $(obj).parents("li").remove();
        }

    }
</script>
