@model IEnumerable<GanXian.Model.ProductsAndSalesNum>
@{
    ViewBag.Title = "会员中心";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<div class="maincontainer" style="padding-bottom:0">
    <div class="container" style="max-width:768px;margin:0 auto;">
        <div class="row">
            <div class="member_top member_top_1">
                <div class="member_top_bg"><img src="~/images/member_bg.png"></div>
                <div class="member_m_pic member_m_pic_1">
                    <img class="img-circle" src=@ViewBag.headImg>
                </div>
                <div class="member_m_z member_m_z_1">
                    <div class="member_m_x">@ViewBag.userName</div>
                </div>
                <div class="member_m_r">
                    @Html.ActionLink("管理收货地址", "Addresslist", "User", new { fromURL = @HttpContext.Current.Request.Path }, new { target = "_self", name = "link" })
                </div>
            </div>
            <div class="list-group mb10">
                <a href="orderlist.html" class="list-group-item tip">
                    <div class="list_group_img">
                        <img src="~/images/member_img16.png">
                    </div>
                    我的订单
                    <span class="gary pull-right">查看全部</span>
                </a>
                <div class="list-group-item p0 clearfix">
                    <div class="col-xs-3 p0">
                        <a class="order_tab_link" href="/p/userOrder?state_type=1">
                            <em class="order_img">
                                <img src="~/images/order_bg_3.png">
                            </em>待付款

                        </a>
                    </div>
                    <div class="col-xs-3 p0">
                        <a class="order_tab_link" href="/p/userOrder?state_type=2">
                            <em class="order_img">
                                <img src="~/images/order_bg_2.png">
                            </em>待发货
                        </a>
                    </div>
                    <div class="col-xs-3 p0">
                        <a class="order_tab_link" href="/p/userOrder?state_type=3">
                            <em class="order_img">
                                <img src="~/images/order_bg_1.png">
                            </em>待收货
                        </a>
                    </div>
                    <div class="col-xs-3 p0">
                        <a class="order_tab_link" href="/p/userOrder?state_type=4">
                            <em class="order_img">
                                <img src="~/images/order_bg.png">
                            </em>已完成
                        </a>
                    </div>
                </div>
            </div>

            <div class="tb_box member-recommend">
                <h2 class="tab_tit">
                    <a class="more" href="../Products/Category?sortOrder=sales_desc">更多</a>
                    热销推荐
                </h2>
                <div class="tb_type tb_type_even clearfix">
                    @foreach (var item in Model)
                    {
                    <a class="th_link" href=@string.Concat("../Products/index/", item.productId)>
                        <img class="tb_pic" src=@string.Concat("http://", HttpContext.Current.Request.Url.Host, "/ganxian", Html.DisplayFor(modelItem => item.showPic)) style="width:100%;">
                        <div class="tb_info">
                            <p class="p-title">@Html.DisplayFor(modelItem => item.productName)</p>
                            <p class="p-origin"><em class="price">¥@Html.DisplayFor(modelItem => item.discountedPrice)</em></p>
                            <p class="mb0"><del class="old-price">¥@Html.DisplayFor(modelItem => item.originalPrice)</del></p>
                        </div>
                    </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
