@model IEnumerable<GanXian.Model.products2Tab>
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div id="slide">
            <div class="hd">
                <ul style="display:none;"><li class="on">1</li><li class="on">2</li><li class="on">3</li></ul>
            </div>
            <div class="bd mb10">
                <div class="tempWrap" style="overflow:hidden; position:relative;">
                    <ul style="width: 3840px; position: relative; overflow: hidden; padding: 0px; margin: 0px; transition-duration: 200ms; transform: translateX(-768px);">
                        <li style="display: table-cell; vertical-align: top; width: 768px;">
                            <a href="javascript:">
                                <img src="~/img/banner1.jpg" alt="" ppsrc="~/img/banner1.jpg">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script charset="utf-8" src="~/Scripts/TouchSlide.js"></script>

    <script type="text/javascript">
        TouchSlide({
            slideCell: "#slide",
            titCell: ".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
            mainCell: ".bd ul",
            effect: "left",
            autoPlay: false,//自动播放
            autoPage: false, //自动分页
            switchLoad: "_src" //切换加载，真实图片路径为"_src"
        });
    </script>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="tb_box">
                <h2 class="tab_tit">
                    <a class="more" href="products/category?typeName=@item.Tablist.typeName">更多</a>
                    @item.Tablist.typeName
                </h2>
                <div class="tb_type tb_type_even clearfix">
                    @for (int i = 0; i < item.Products.Count; i++)
                    {
                        if (i > 3)
                        {
                            break;
                        }
                        else
                        {
                            <a class="th_link" href=@string.Concat("products/index/", item.Products[i].productId)>
                                <img class="tb_pic" src=@string.Concat(ViewBag.ProjectUrl, Html.DisplayFor(modelItem => item.Products[i].showPic)) style="width:100%;">
                                <div class="tb_info">
                                    <p class="p-title">@item.Products[i].productName</p>
                                    <p class="p-origin"><em class="price">¥@item.Products[i].discountedPrice</em></p>
                                    <p class="mb0"><del class="old-price">¥@item.Products[i].originalPrice</del></p>
                                </div>
                            </a>
                        }
                    }


                    @*@foreach (var products in item.Products)
                        {
                            首页管理功能完成后用此方法
                            <a class="th_link" href=@string.Concat("products/index/", products.productId)>
                                <img class="tb_pic" src=@string.Concat(ViewBag.ProjectUrl, Html.DisplayFor(modelItem => products.showPic)) style="width:100%;">
                                <div class="tb_info">
                                    <p class="p-title">@products.productName</p>
                                    <p class="p-origin"><em class="price">¥@products.discountedPrice</em></p>
                                    <p class="mb0"><del class="old-price">¥@products.originalPrice</del></p>
                                </div>
                            </a>
                        }*@
                </div>

            </div>
        }
        <div class="must-learn">
            <img src="~/images/must-learn.png">
        </div>
    </div>
</div>
